.footerdiv {
  width: 100%;
  height: 200px;
  background-color: #141414;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  align-self: flex-end;
}
